
<div class="jumbotron">
<h1>Alumnos</h1>
<p>Relación de alumnos</p>
<table class="table">
	<thead>
		<th>id</th>
		<th>Apellidos</th>
		<th>Nombre</th>
		<th>Curso</th>
		<th>FchNacimiento</th>
		<th></th>
	</thead>
	<tbody>
	<tr>
		<td>8155</td>
		<td>Pulido Montes</td>
		<td>Gabriel</td>

		<td>1 A</td>
		<td>2004/04/22</td>
		<td><%= link_to "Ver", '8155' %></td>
	</tr>
	<tr>
		<td>8156</td>
		<td>Muñoz Muñoz</td>
		<td>Ernesto</td>

		<td>1 A</td>
		<td>2004/11/12</td>
		<td><%= link_to "Ver", '8156' %></td>
	</tr>
	<tr>
		<td>8157</td>
		<td>Nabhan</td>
		<td>Kloloud</td>

		<td>1 A</td>
		<td>2004/01/25</td>
		<td><%= link_to "Ver", '8157' %></td>
	</tr>
	<tr>
		<td>8158</td>
		<td>Rodrígez Vega </td>
		<td>María</td>
		
		<td>1 A</td>
		<td>2004/05/04</td>
		
		<td><%= link_to "Ver", '8158' %></td>
	</tr>
	<tr>
		<td>8159</td>
		<td>Guerra Guerra</td>
		<td>Alfonso</td>
		
		<td>1 A</td>
		<td>2004/05/06</td>
		<td><%= link_to "Ver", '8159' %></td>
	</tr>
	<tr>
		<td>8160</td>
		<td>Guerra Guerra</td>
		<td>Carlos</td>
		
		<td>1 A</td>
		<td>2004/05/06</td>
		<td><%= link_to "Ver", '8160' %></td>
	</tr>

	<tr>
		<td>8161</td>
		<td>Sainz Juarez</td>
		<td>Roberto</td>

		<td>1 A</td>
		<td>2004/08/24</td>
		<td><%= link_to "Ver", '8161' %></td>
	</tr>

	<tr>
		<td>8162</td>
		<td>Toledano Esteban</td>
		<td>Carlos</td>
		
		<td>1 A</td>
		<td>2004/02/23</td>
		<td><%= link_to "Ver", '8162' %></td>
	</tr>
	<tr>
		<td>8163</td>
		<td>España García</td>
		<td>Sara</td>
		
		<td>1 A</td>
		<td>2004/11/05</td>
		<td><%= link_to "Ver", '8163' %></td>
	</tr>
	<tr>
		<td>8164</td>
		<td>Garitagoitia Díez</td>
		<td>Eneko</td>
		
		<td>1 A</td>
		<td>2004/08/23</td>
		<td><%= link_to "Ver", '8164' %></td>
	</tr>
	</tbody>
</table>
</div>