<div class="jumbotron">
  <div class="row center">
    <h1><%= image_tag('orientation.png', width: '50') %> Orientod@s</h1>
  </div>
  <div class="row center">
    <h2>
    Plataforma del Departamento de Orientación
    </h2>
  </div>



  <div class="row">
      <table class="table">
        <thead><th><%= image_tag('paper-plane.png',size:'24') %></th><th>Autor </th><th> Asunto </th><th>Fecha</th></thead>
        <tr><td><%= image_tag('email.png',size:'24') %></td><td>José García</td><td>RV: Nuevos horarios </td><td>26/09/2016 12:33</td></tr>
        <tr><td><%= image_tag('email.png',size:'24') %></td><td>aitanaa@ymail.com</td><td>Tutoría </td><td>25/09/2016 13:20</td></tr>
        <tr><td><%= image_tag('email.png',size:'24') %></td><td>José García</td><td>RE: RV: Nuevos horarios </td><td>25/09/2016 13:29</td></tr>
      </table>
      <br>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div id="datepicker"></div>
      <input type="hidden" id="my_hidden_input">
    </div>
    <h3>
      <%= image_tag('bell.png',size:'28') %> Avisos
    </h3>
  </div>
</div>

<script>
    $('#datepicker').datepicker({

        format: "dd/mm/yyyy",
        startDate: "01/09/2016", 
        endDate: "31/06/2018", 
        weekStart: 1,
        language: "es",
        daysOfWeekDisabled: "0,6",
        daysOfWeekHighlighted: "1",
        calendarWeeks: true,
        
    });
</script>
