  <head>
    <title>Orient@dos :: Plataforma del Departamento de Orientación</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Orientod@s #{image_tag('orientation.png',size:'24' )}".html_safe, "#", id: 'logo' %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Alumnos",   'alumnos' %></li>
            <li><%= link_to "Plan",   '#' %></li>
            <li><%= link_to "Mensajes", '#' %></li>
            <li><%= link_to "Blog", '#' %></li>
            <li><%= link_to "Avisos", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <small>Diseño Laura Manzaneque Carballo</small>
    </footer>
  </body>
</html>